html,
body {
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.phx-click-loading {
    opacity: 0.5;
    transition: opacity 1s ease-out;
}

.phx-disconnected {
    cursor: wait;
}

.phx-disconnected * {
    pointer-events: none;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

table.sticky-headers thead th {
    position: sticky;
    top: 0;
    background-color: white;
}

tbody tr:last-child td,
thead tr:last-child th {
    border-bottom: 0.125rem solid grey;
}

th {
    font-weight: 400;
    text-align: start;

    p {
        margin: 0;
        padding: 0.25rem;
    }

    button {
        border: none;
        font-size: 1rem;
        background-color: transparent;
    }
}