html,
body {
    height: 100%;
}

.phx-click-loading {
    opacity: 0.5;
    transition: opacity 1s ease-out;
}

.phx-disconnected {
    cursor: wait;
}

.phx-disconnected * {
    pointer-events: none;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

th {
    text-align: start;
}